body {
    background-color: whitesmoke;
    margin: 20px;
}

#upper {
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: flex;
    height: 25vh;
    padding: 10px;
}

#green {
    width: 400px;
    height: 175px;    
    background-color: green;
    top: 20px;
    margin-right: 100px;
}

#purple {
    height: 150px;
    width: 50px;
    background-color: purple;
    margin-top: 50px;
    margin-right: 100px;
}

#blue {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: skyblue;
}

#main {
    height: 25vh;
    border: black;
    border-style: dotted;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 5px, gray 5px;
}
#yellow-box {
    height: 125px;
    background-color: rgb(230, 226, 178);
    width: 90vw;
    box-shadow: 8px 8px 10px #000000c5;
}

#lower {
    height: 35vh;
    width: 40%;
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: navy;
}