body {
    background-color: whitesmoke;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: #222222;
    border-bottom-width: 80px;
    padding-bottom: 708px;
}

header {
    width: 100vw;
    height: 200px;
    background-color: #414141;
    margin: 0;
}

.right {
    margin: 0;
    background-color: #D8D8D8;
    width: calc(100% - 90%);
    height: 100vh;
    float: right;
}

.left {
    margin: 0;
    background-color: #D8D8D8;
    width: calc(100% - 90%);
    height: 100vh;
    float: left;
}
